<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Max Tedford</title>
  <link rel="stylesheet" href="Assets/Stylesheets/MaxTedfordStyleNoBorder.css">
  <link rel="stylesheet" href="Assets/Fonts/ProximaNovaSoft-Regular.otf">
</head>

<body cz-shortcut-listen="true">
<header class="top">
  <section class="primary-nav">
    <nav>
      <a class="top-nav" data-selector="top" href="#top">Home</a>
      <a class="top-nav" data-selector="waldo" href="#about">About</a>
      <a class="top-nav" data-selector="waldo2" href="#professional">Professional</a>
      <a class="top-nav" data-selector="waldo3" href="#business-solutions">Business Solutions</a>
      <a class="top-nav" data-selector="waldo4" href="#connect">Connect</a>
    </nav>
  </section>
</header>
<section class="name-title">
  <img class="headshot" src="Assets/Images/MaxPhoto2.jpg" alt="photo of Max">
  <h1 class="container">MAX TEDFORD</h1>
  <div class="arrow-contain">
    <a class="next-arrow" href="#about">
      <img src="Assets/Images/arrow-white.png" alt="down arrow">
    </a>
  </div>
</section>
<section class="waldo" id="about"></section>
<section class="about">
  <h3>About</h3>
  <h4>Martin Handford is my hero</h4>
  <div class="text">You’re probably wondering who the heck Martin Handford is—and who the
    heck I am, for that matter—and why he’d be anyone’s hero. Well, let me
    give you a little hint…Waldo. Martin Handford is the creator, author, and
    illustrator of the well-known Where’s Waldo book series from the 1980s
    and 90s. As far as who I am, to fully understand that it would probably
    help to learn a little more about my hero.
    <br>
    <br>Like me, Martin Handford had some offbeat childhood fascinations. Things
    like geography, history, and finding/exploring new places. Not many little
    boys spend their time gazing at the maps and journals of early explorers
    like Christopher Columbus or Lewis &amp; Clark, or memorizing the geographical
    habitat range of the Naked Mole Rat. But we did (well, I did…but it seems
    like something Handford probably did, too).
    <br>
    <br>When he created the Where’s Waldo book series Handford sought to “inspire
    people to open their minds, to explore subjects more, to be aware of what’s
    going on around them,” and he wanted his books to teach people to “see
    wonder in places that may not have occurred to them.” Little did I know
    growing up that my obsession with tracking down Waldo, Wenda, Wizard Whitebeard,
    and all the other characters in the series was not only helping me to develop
    my awareness and perception, but also teaching me an appreciation for all
    that the world has to offer.
    <br>
    <br>I’ve tried to carry those values with me throughout my life and career.
    Scouring the world for Waldo required immense patience, perseverance, and
    a systematic approach, all traits I’ve come to value highly and always
    do my best to emulate. Handford also has an uncanny ability to provide
    endless bits of entertainment and freshness in each of Waldo’s environments.
    Every time I opened one of his books (which was maybe hundreds) there was
    always something new I would discover that hadn’t noticed before, and even
    if I hadn’t yet zeroed in on Waldo’s location, there was always something
    interesting happening to the area’s inhabitants. I find myself also striving
    to appreciate the little distractions in life, and try to leave my own
    twists and personality on my own work, so the next person to come along
    has something interesting to see.
    <br>
    <br>So, while this section of my site may not have traditional “stats” about
    me (I’m 29, I live in Washington, DC, and I enjoy playing soccer, board
    games, and making my own wine in my free time—how’s that?) I hope it’s
    given you some perspective on the real me. Please visit the contact section
    at the bottom of the page if you’re interested in connecting about any
    of my interests, work, or even if you need some help finding Waldo! I’ve
    got all his hiding spots memorized…</div>
  <div class="arrow-contain">
    <a class="next-arrow" href="#professional">
      <img src="Assets/Images/arrow-blue.png" alt="down arrow">
    </a>
  </div>
</section>
<section class="waldo2" id="professional"></section>
<section class="professional">
  <h3>Professional</h3>
  <h4>Explore Max's professional experience</h4>
  <div class="text">
    <br>Much like Waldo’s journey across the world, my professional journey has
    taken me through many distant and varying lands:
    <br>
    <br>
    <br>
    <h4>Los Angeles, CA (2004-2010)</h4>Born and raised in Minneapolis, MN, I
    moved out to Los Angeles, CA for my undergraduate studies at Occidental
    College. Initially hoping to pursue a film degree, my interest actually
    gravitated toward my History, Politics, and Economics studies, ultimately
    inspiring me to switch my major to Diplomacy and World Affairs. A great
    outlet to channel to my inner Waldo, I traveled to Washington DC, France,
    and Japan, learned a great deal about conflict resolution, what motivates
    people, and how to help connect them to one another, then finally graduated
    in 2008. I took the first full-time position I could get (2008 was the
    putrid bowels of the Great Recession, and it took me 5 months to finally
    land a job) working as a worker’s compensation claims adjuster through
    the beginning of 2010.
    <br>
    <br>
    <br>
    <h4>Minneapolis, MN (2010)</h4>Inspired by another passion of mine, sports,
    I moved back home to Minneapolis to work one season as a Corporate Services
    Associate for the Minnesota Timberwolves, of the NBA. I’ve always been
    fascinated by sports’ uncanny ability to connect people with each other
    and inspire throngs of strangers that have never interacted before to rally
    around a common identity, and I wanted to experience that from the inside.
    Plus I always looked forward to attending basketball games with my dad
    growing up, so the Timberwolves have always been a special team to me,
    no matter how they perform on the court (which, if you’re a sports fan,
    you know is not well at all).
    <br>
    <br>
    <br>
    <h4>Washington, DC (2011-present)</h4>Further inspired by my work with the
    Timberwolves, I decided to move out to DC to pursue a Masters in Sports
    Business Management at Georgetown University. Six months into that program
    I was lucky enough to get a job offer from a local DC startup, LivingSocial,
    renowned in the area for its passion for connecting people with the best
    things going on in their city, and always encouraging its members to share
    experiences with friends and family. Seeing it as a perfect match for what
    had quickly become my brand as an explorer and connector, I jumped at the
    chance to be a part of such a fun endeavor. I worked there in varying capacities
    for three-and-a-half years (mostly in production supporting the live events
    business, but also in a B2B marketing role) before once again being inspired
    by yet another fantastic form of connection and exploration—writing code.
    <br>
    <br>
    <br>
    <h4>Denver, CO (present)</h4>Why do I have two different cities listed as
    “present” on my website? Well, because right now they’re both home for
    me. Since March I’ve been enrolled as a student at the Turing School of
    Software &amp; Design in Denver, CO, learning the ins and outs of software
    and web development, only to return (hopefully triumphantly) to DC in October
    to help yet another organization connect its users to their passions and
    enjoy the wonders of what the world has to offer. If you’re interested
    in what I’ve been learning or the projects I’ve been contributing to in
    the software and web development world—or anything else I’ve done in the
    past—I’d love to hear from you. Feel free to reach out via any of the media
    below.</div>
  <div class="arrow-contain">
    <a class="next-arrow" href="#business-solutions">
      <img src="Assets/Images/arrow-white.png" alt="down arrow">
    </a>
  </div>
</section>
<section class="waldo3" id="business-solutions"></section>
<section class="business-solutions">
  <h3>Business Solutions</h3>
  <h4>Check out some of Max's business solutions!</h4>
  <div class="text">This section of my site is still awaiting content, but it's not because
    I'm not working on any. As I continue to power through my software and
    web development training over the coming months, I'll be posting some of
    the solutions I've created in this section. If you're interested in seeing
    some of the smaller-scale projects I've been working on, please visit my
    GitHub profile (you can access it via the GitHub logo in the next section).
    Otherwise, feel free to checkout my LinkedIn profile for some descriptions
    of my broader business and other professional experience. Stay tuned...I
    can't wait to show you the fruits of all my labor shortly!</div>
  <div class="arrow-contain">
    <a class="next-arrow" href="#connect">
      <img src="Assets/Images/arrow-blue.png" alt="down arrow">
    </a>
  </div>
</section>
<section class="waldo4" id="connect"></section>
<section class="connect">
  <h3>Connect</h3>
  <h4>Connect with Max</h4>
</section>
<section class="connect-icons">
  <div class="col-1-3">
    <div class="github-icon">
      <a href="https://github.com/maxtedford">
        <img src="Assets/Images/github-icon.png" alt="github icon">
      </a>
    </div>
  </div>
  <!-- -->
  <div class="col-1-3">
    <a href="https://www.facebook.com/max.tedford">
      <img src="Assets/Images/facebook-icon.png" alt="facebook icon">
    </a>
  </div>
  <!-- -->
  <div class="col-1-3">
    <a href="https://www.linkedin.com/profile/view?id=25531971&amp;trk=nav_responsive_tab_profile">
      <img src="Assets/Images/linkedin-icon.png" alt="linkedin icon">
    </a>
  </div>
</section>
<footer class="copyright">
  <small>© Max Tedford</small>
</footer>
<script src="https://code.jquery.com/jquery-2.1.1.min.js">

</script>
<script type="text/javascript">
  $(function() {
    $('.primary-nav a').on('click', function(e) {
      var className = e.target.dataset.selector;
      if (className === "top") {
        var selector = $(document);
        selector.scrollTop();
      } else {
        var selector = $('.' + className);
        $('body').animate({
          scrollTop: selector.offset().top
        }, 1000);
      }
    });
  });
</script>
</body>

</html>
