<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>

    <h1>A new client has signed into Music Story!</h1>

    <p>Their name is: <%= @user.name %></p>

    <br>

    <p>Yay! Our company is getting popular!</p>

  </body>
</html>
