---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/search?api_key=BTF9TL31AHYRWPWPZ&genre=country&results=12&sort=familiarity-desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 8d4ce:19561
      X-Ratelimit-Remaining:
      - '112'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"id": "ARMM6WZ1187FB4958D", "name": "Willie Nelson"}, {"id":
        "ARYJSY01187B9B7C65", "name": "Dolly Parton"}, {"id": "AR95IYB1187FB3FE0B",
        "name": "Keith Urban"}, {"id": "AREEQPY1187FB5B9E3", "name": "Miranda Lambert"},
        {"id": "ARKHGQA1187B9B7AD5", "name": "Brad Paisley"}, {"id": "ARDR3K91187B9B04EB",
        "name": "Tim McGraw"}, {"id": "ARUJZFJ1187B9B135F", "name": "Shania Twain"},
        {"id": "ARQCFI11187FB5AE43", "name": "George Jones"}, {"id": "ARPH1W61187B9B4CD8",
        "name": "Reba McEntire"}, {"id": "ARPT6341187B9B1F1E", "name": "Garth Brooks"},
        {"id": "ARFJXKQ119B86694AF", "name": "Lady Antebellum"}, {"id": "ARK4ZEK1187B990A4F",
        "name": "George Strait"}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:01 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Willie%20Nelson&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 13afb:25489
      X-Ratelimit-Remaining:
      - '111'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 98, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Sixth_Street_Austin.jpg/800px-Sixth_Street_Austin.jpg",
        "tags": [], "width": 800, "height": 600, "aspect_ratio": 1.3333333333333333,
        "verified": false, "license": {"type": "cc-by-sa", "attribution": "Photograph
        created by Larry D. Moore (Nv8200p on en.wikipedia) using a Kodak EasyShare
        Z740 camera.", "url": "http://en.wikipedia.org/wiki/File:Sixth_Street_Austin.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:01 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Dolly%20Parton&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 7545e:19440
      X-Ratelimit-Remaining:
      - '110'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '10'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 163, "images": [{"url": "http://userserve-ak.last.fm/serve/_/89774.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "n/a", "url": "http://userserve-ak.last.fm/serve/_/89774.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:01 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Keith%20Urban&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 7545e:17349
      X-Ratelimit-Remaining:
      - '109'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 77, "images": [{"url": "http://userserve-ak.last.fm/serve/_/6741.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "last.fm", "url": "http://userserve-ak.last.fm/serve/_/6741.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:01 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Miranda%20Lambert&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 38f89:333
      X-Ratelimit-Remaining:
      - '108'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 157, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/7/7c/Miranda_Lambert_3.jpg",
        "tags": [], "width": 896, "height": 1249, "aspect_ratio": 0.7173738991192954,
        "verified": false, "license": {"type": "cc-by", "attribution": "CharlotteWebb",
        "url": "http://upload.wikimedia.org/wikipedia/commons/7/7c/Miranda_Lambert_3.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:01 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Brad%20Paisley&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - f61bc:31687
      X-Ratelimit-Remaining:
      - '107'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 94, "images": [{"url": "http://userserve-ak.last.fm/serve/_/374934.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "last.fm", "url": "http://userserve-ak.last.fm/serve/_/374934.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:02 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Tim%20McGraw&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 1c88a:19146
      X-Ratelimit-Remaining:
      - '106'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 43, "images": [{"url": "http://userserve-ak.last.fm/serve/_/2132780.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "last.fm", "url": "http://userserve-ak.last.fm/serve/_/2132780.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:02 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Shania%20Twain&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - ab936:12562
      X-Ratelimit-Remaining:
      - '105'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 156, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/f/fe/Shania_Twain_Portrait.jpg",
        "tags": [], "width": 192, "height": 132, "aspect_ratio": 1.4545454545454546,
        "verified": false, "license": {"type": "cc-by", "attribution": "Bserin", "url":
        "http://upload.wikimedia.org/wikipedia/commons/f/fe/Shania_Twain_Portrait.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:02 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=George%20Jones&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - b32a8:12985
      X-Ratelimit-Remaining:
      - '104'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 44, "images": [{"url": "http://userserve-ak.last.fm/serve/_/529539.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "last.fm", "url": "http://userserve-ak.last.fm/serve/_/529539.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:02 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Reba%20McEntire&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - a1d6c:21957
      X-Ratelimit-Remaining:
      - '103'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 102, "images": [{"url": "http://userserve-ak.last.fm/serve/_/58771.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "last.fm", "url": "http://userserve-ak.last.fm/serve/_/58771.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:02 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Garth%20Brooks&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 472e0:41704
      X-Ratelimit-Remaining:
      - '102'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 39, "images": [{"url": "http://userserve-ak.last.fm/serve/_/60941.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "n/a", "url": "http://userserve-ak.last.fm/serve/_/60941.jpg#flat_doc"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:02 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Lady%20Antebellum&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 94800:25785
      X-Ratelimit-Remaining:
      - '101'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 85, "images": [{"url": "http://a461.ac-images.myspacecdn.com/images01/34/m_5b4de373fedb461cfc05f58fe34568cc.jpg",
        "tags": [], "width": 90, "height": 90, "aspect_ratio": 1.0, "verified": false,
        "license": {"type": "unknown", "attribution": "myspace", "url": "http://a461.ac-images.myspacecdn.com/images01/34/m_5b4de373fedb461cfc05f58fe34568cc.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:03 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=George%20Strait&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 89a7b:18480
      X-Ratelimit-Remaining:
      - '100'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 54, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/7/78/George_strait_2005_cropped.jpg",
        "tags": [], "width": 258, "height": 364, "aspect_ratio": 0.7087912087912088,
        "verified": false, "license": {"type": "public-domain", "attribution": "Nv8200pa",
        "url": "http://upload.wikimedia.org/wikipedia/commons/7/78/George_strait_2005_cropped.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:03 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/search?api_key=BTF9TL31AHYRWPWPZ&name=Tim%20McGraw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 89a7b:22074
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"id": "ARDR3K91187B9B04EB", "name": "Tim McGraw"}, {"id": "ARTNTBL1241B9C53F9",
        "name": "Tim McGraw Bluegrass Tribute"}, {"id": "ARKWLQY13A71F38FFF", "name":
        "Tim McGraw Tribute"}, {"id": "ARHGWDW1241B9C7580", "name": "Tim McGraw Tribute
        Band"}, {"id": "AROZPHI14AE6396BBF", "name": "Tim McGraw w/Catherine Dunn"}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:03 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Tim%20McGraw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - b6334:25954
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 43, "images": [{"url": "http://userserve-ak.last.fm/serve/_/2132780.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "last.fm[...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/video?api_key=BTF9TL31AHYRWPWPZ&name=Tim%20McGraw&results=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 472e0:41704
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '23'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 1121, "video": [{"title": "Tim McGraw - Just to see you
        smile", "url": "http://www.dailymotion.com/video/x31142j_tim-mcgraw-just-to-see-you-smile_music",
        "site": "dailymotion.com", "date_found": "2015-08-13T00:00:00", "image_url":
        "http://s1.dmcdn.net/M8puE.jpg", "id": "ccfbef259c0dd06a068c329ad2d4741f"},
        {"title": "Tim McGraw - \"Lincoln Continentals And Cadilacs\" (Feat, Kid Rock)
        (Lyrics In Description)", "url": "http://www.dailymotion.com/video/x30u03o_tim-mcgraw-lincoln-continentals-and-cadilacs-feat-kid-rock-lyrics-in-description_fun",
        "site": "dailymotion.com", "date_found": "2015-08-09T00:00:00", "image_url":
        "http://s1.dmcdn.net/M6bvt.jpg", "id": "eb0d89f00726c0879857f14aa[...]
