---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/search?api_key=BTF9TL31AHYRWPWPZ&name=Tom%20Petty
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 203d7:15778
      X-Ratelimit-Remaining:
      - '87'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"id": "ARBEBBY1187B9B43DB", "name": "Tom Petty"}, {"id": "ARF4L041187FB4D318",
        "name": "Tom Petty and The Heartbreakers"}, {"id": "ARLHURJ12454A52175", "name":
        "Tom Petty, Tom Petty And The Heartbreakers"}, {"id": "ARBAMVS12D5CD73BC1",
        "name": "Tom Petty Tribute Band"}, {"id": "ARZEIRJ14D10877EDA", "name": "Tom
        Petty&Jeff Lynne"}]}}'
  recorded_at: Thu, 13 Aug 2015 05:10:05 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/similar?api_key=BTF9TL31AHYRWPWPZ&name=Tom%20Petty&results=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 38f89:7888
      X-Ratelimit-Remaining:
      - '86'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"id": "ARF4L041187FB4D318", "name": "Tom Petty and The Heartbreakers"},
        {"id": "ARKDEKZ119B34033AE", "name": "Mudcrutch"}, {"id": "AR91C8S1187B990901",
        "name": "Bruce Springsteen"}, {"id": "ARYVGP31187B9A531A", "name": "John Mellencamp"}]}}'
  recorded_at: Thu, 13 Aug 2015 05:10:05 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Tom%20Petty%20and%20The%20Heartbreakers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 77db3:30401
      X-Ratelimit-Remaining:
      - '85'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 73, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/d/d7/Tompetty_indy.jpg",
        "tags": [], "width": 1024, "height": 680, "aspect_ratio": 1.5058823529411764,
        "verified": false, "license": {"type": "cc-by", "attribution": "KEN", "url":
        "http://upload.wikimedia.org/wikipedia/commons/d/d7/Tompetty_indy.jpg"}},
        {"url": "http://upload.wikimedia.org/wikipedia/commons/d/de/Tom_Petty_Walk_of_Fame.JPG",
        "tags": [], "width": 1034, "height": 982, "aspect_ratio": 1.0529531568228105,
        "verified": false, "license": {"type": "cc-by", "attribution": "Aavindraa",
        "url": "http://upload.wikimedia.org/wikipedia/commons/d/de/Tom_Petty_Walk_of_Fame.JPG"}},
        {"url": "http://userserve-ak.l[...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Mudcrutch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - c2e1a:9099
      X-Ratelimit-Remaining:
      - '84'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 19, "images": [{"url": "http://upload.wikimedia.org/wikipedia/en/7/77/Campbell_autograph.jpg",
        "tags": [], "width": 1056, "height": 972, "aspect_ratio": 1.0864197530864[...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Bruce%20Springsteen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - c2e1a:4743
      X-Ratelimit-Remaining:
      - '83'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
  [...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=John%20Mellencamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - bf53c:30299
      X-Ratelimit-Remaining:
      - '82'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 66, "images": [{"url": "http://userserve-ak.last.fm/serve/_/500205.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "last.fm"[...]
