---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/search?api_key=BTF9TL31AHYRWPWPZ&name=78783h2jiy7cxd8907dshjkflas7837uy289hjiod
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 38f89:37477
      X-Ratelimit-Remaining:
      - '63'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '57'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": []}}'
  recorded_at: Thu, 13 Aug 2015 13:34:10 GMT
recorded_with: VCR 2.9.3
