<html>
  <head>

  </head>

  <body>

  <nav>
    <%#= Nav bar - will include Site name, Search bar, Login button %>
  </nav>

  <div>
    <%#= Up top: Logo with Site Name %>
  </div>

  <div>
    <%#= Large icons titles with music genres (Rock, Country, Jazz)... %>
  </div>

  </body>
</html>
