<html class=" url-portfolio  js svg boom" lang="en">
<!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Mike Kus • Graphics • Web • Branding • Illustration • Photography">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7329872/724742/css/fonts.css">
  <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css"
        media="all">
  <noscript>&lt;link href="/assets/css/png.min.css" rel="stylesheet" type="text/css"
    media="all" id="svg-fallback" /&gt;</noscript>
  <script async="" src="//www.google-analytics.com/analytics.js"></script>
  <script src="/assets/js/vendor/modernizr.min.js"></script>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-47784065-1', 'mikekus.com');
    ga('send', 'pageview');
  </script>
  <title>Portfolio : Mike Kus • Graphics • Web • Branding • Illustration • Photography</title>
  <style>
    .fluidvids-elem {
      position:absolute;
      top:0px;
      left:0px;
      max-width:800px;
      max-height:501px;
      width:100%;
      height:100%;
    }
    .fluidvids {
      max-width:800px;
      max-height:501px;
      width:100%;
      position:relative;
    }
  </style>
</head>
<body cz-shortcut-listen="true">
<div class="wrapper" id="js-wrapper">
  <header class="page-head " id="js-page-head">
    <div class="container">
      <a href="/" class="page-head__logo">Music Story</a>
      <ul class="nav page-head__nav" id="js-menu-nav">
        <li class="sel">
          <a href="/">Portfolio</a>
        </li>
        <li>
          <a href="/about">About &amp; Contact</a>
        </li>
      </ul>
      <div class="page-social" id="js-social-nav">
        <a href="https://twitter.com/mikekus" class="page-social__twitter js-social-icon">Twitter</a>
        <a href="http://instagram.com/mikekus" class="page-social__instagram js-social-icon">Instagram</a>
        <a href="https://mikekus.exposure.so" class="page-social__exposure js-social-icon">Exposure</a>
        <a href="http://dribbble.com/mikekus" class="page-social__dribbble js-social-icon hide-header">Dribbble</a>
      </div>
      <a href="#" class="page-head__menu" id="js-menu">Menu</a>
    </div>
  </header>
  <div class="container " id="js-content-block">
    <div class="overflow">
      <ul class="portfolio-list">
        <li>
          <a href="/portfolio/future-insights-2015">
            <img src="/assets/img/portfolio/future-insights-2015/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Future Insights 2015</h3>
              <p>I redesigned the Future Insights website for 2015. Future In...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/stamps">
            <img src="/assets/img/portfolio/stamps/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>#IndyRef Stamps</h3>
              <p>To mark the occasion of the Scottish independance referendum...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/craftsmen">
            <img src="/assets/img/portfolio/craftsmen/thumb.png" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Craftsmen</h3>
              <p>I was asked by French Digital Agency, Craftsmen to design th...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/mixd">
            <img src="/assets/img/portfolio/mixd/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>MIXD</h3>
              <p>I redesigned the identity and website for web agency, MIXD. ...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/future-insights">
            <img src="/assets/img/portfolio/future-insights/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Future Insights</h3>
              <p>I redesigned the Future Insights website for 2013/14. Future...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/shopify">
            <img src="/assets/img/portfolio/shopify/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>At the heart of what we do</h3>
              <p>Shopify kindly ask me to design a shirt around the concept o...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/mixture">
            <img src="/assets/img/portfolio/mixture/thumb.png" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Mixture</h3>
              <p>As part of the Mixture team I designed the first version of ...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/create-dm">
            <img src="/assets/img/portfolio/create-dm/thumb.png" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Create DM</h3>
              <p>I designed the website for Tunbridge Wells based App develop...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/smashing">
            <img src="/assets/img/portfolio/smashing/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Smashing Mobile Book</h3>
              <p>I was commissioned by Smashing Magazine to design the book c...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/berocca">
            <img src="/assets/img/portfolio/berocca/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Berocca Posters</h3>
              <p>I was commissioned by The Campaign Palace &amp; Berocca to c...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/olympics">
            <img src="/assets/img/portfolio/olympics/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Olympics 2012</h3>
              <p>With the Olympics in town in 2012, I was compelled to produc...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/giftrocket">
            <img src="/assets/img/portfolio/giftrocket/thumb.png" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>GiftRocket</h3>
              <p>I designed the identity, web app and marketing website for S...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/amazee">
            <img src="/assets/img/portfolio/amazee/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Amazee Labs</h3>
              <p>I designed the identity and website for Swiss based agency A...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/chirp">
            <img src="/assets/img/portfolio/chirp/thumb.png" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Twitter Developer Conference</h3>
              <p>I created the identity and designed the website for Twitter'...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/microsoft">
            <img src="/assets/img/portfolio/microsoft/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Microsoft Banners</h3>
              <p>I designed and illustrated these display banners for Microso...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/twitter">
            <img src="/assets/img/portfolio/twitter/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Twitter Posters</h3>
              <p>As part of the Twitter developer conference, I designed thes...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/graphic-design">
            <img src="/assets/img/portfolio/graphic-design/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Graphic Design</h3>
              <p>As part of a conference talk I gave, entitled Graphic Design...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/carsonified">
            <img src="/assets/img/portfolio/carsonified/thumb.png" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>Carsonified</h3>
              <p>Whilst at Carsonified, I redesigned the company website. I h...</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/portfolio/in-everyone">
            <img src="/assets/img/portfolio/in-everyone/thumb.jpg" class="js-img" style="opacity: 1;">
            <div class="excerpt">
              <h3>In Everyone Album Art</h3>
              <p>I designed and illustrated the album artwork for Oli Hite's ...</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <footer class="page-foot">
    <div class="container">
      <a href="/portfolio" class="page-foot__logo">Mike Kus</a>
      <h5 class="page-foot__strap">Graphics • Web • Branding • Illustration • Photography</h5>
      <ul class="nav page-foot__nav"
          id="js-footer-nav">
        <li>
          <a href="/">Portfolio</a>
        </li>
        <li>
          <a href="/about">About &amp; Contact</a>
        </li>
      </ul>
      <div class="page-social" id="js-social-nav">
        <a href="https://twitter.com/mikekus" class="page-social__twitter js-social-icon">Twitter</a>
        <a href="http://instagram.com/mikekus" class="page-social__instagram js-social-icon">Instagram</a>
        <a href="https://mikekus.exposure.so" class="page-social__exposure js-social-icon">Exposure</a>
        <a href="http://dribbble.com/mikekus" class="page-social__dribbble js-social-icon hide-header">Dribbble</a>
      </div>
    </div>
    <a href="http://previous.mikekus.com" class="previous-link">My previous site</a>
    <a href="http://mixture.io" class="mixture-link">Built + hosted with Mixture</a>
  </footer>
  <div id="js-overlay">
    <ul class="menu-nav">
      <li>
        <a href="/">Portfolio</a>
      </li>
      <li>
        <a href="/about">About &amp; Contact</a>
      </li>
    </ul>
    <div class="menu-social">
      <a href="https://twitter.com/mikekus" class="page-social__twitter js-social-icon">Twitter</a>
      <a href="http://instagram.com/mikekus" class="page-social__instagram js-social-icon">Instagram</a>
      <a href="https://mikekus.exposure.so" class="page-social__exposure js-social-icon">Exposure</a>
      <a href="http://dribbble.com/mikekus" class="page-social__dribbble js-social-icon hide-header">Dribbble</a>
    </div>
  </div>
</div>
<div id="js-contact-overlay">
  <div class="portfolio-item contact-page">
    <section class="portfolio-item__header js-img">
      <div class="fixed">
        <div class="portfolio-item__header__text ">
          <h1>Get in touch</h1>
          <p>If you have an upcoming project you would like to speak about, drop me
            a line. I’d love to hear about it.</p>
          <a href="mailto:mike@mikekus.com"
             class="contact-link">mike@mikekus.com</a>
          <small>Photo:
            <a href="https://twitter.com/drewm">Drew McLellan</a>
          </small>
        </div>
        <img src="/assets/img/contact.jpg" id="js-mike" alt="Image of Mike Kus">
      </div>
      <a class="arrow-down" href="#jump" id="jump"></a>
    </section>
  </div>
</div>
<script src="/assets/js/scripts.min.js"></script>
<div id="page-loader" style="display: none; width: 114%;"></div>
</body>

</html>
