<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <header class="navbar-brand">
      <div id="DIV_2">
        <a href="/" id="A_3">Music Story</a>
        <ul id="UL_4">
          <li id="LI_5">
            <a href="/" id="A_6">Portfolio</a>
          </li>
          <li id="LI_7">
            <a href="/" id="A_8">About &amp; Contact</a>
          </li>
        </ul>
        <div id="DIV_9">
          <a href="https://twitter.com/mikekus" id="A_10">Twitter</a> <a href="http://instagram.com/mikekus" id="A_11">Instagram</a> <a href="https://mikekus.exposure.so" id="A_12">Exposure</a> <a href="http://dribbble.com/mikekus" id="A_13">Dribbble</a>
        </div> <a href="#" id="A_14">Menu</a>
      </div>
    </header>

    <ul id="UL_1">
      <li id="LI_2">
        <a href="/genre/rock" id="A_3"><img src="/app/assets/images/land_waldo.jpg" id="IMG_4" alt='' /></a>
        <div id="DIV_5">
          <h3 id="H3_6">
            Future Insights 2015
          </h3>
          <p id="P_7">
            I redesigned the Future Insights website for 2015. Future In...
          </p>
        </div>
      </li>
      <li id="LI_8">
        <a href="/portfolio/stamps" id="A_9"><img src="/assets/img/portfolio/stamps/thumb.jpg" id="IMG_10" alt='' /></a>
        <div id="DIV_11">
          <h3 id="H3_12">
            #IndyRef Stamps
          </h3>
          <p id="P_13">
            To mark the occasion of the Scottish independance referendum...
          </p>
        </div>
      </li>
      <li id="LI_14">
        <a href="/portfolio/craftsmen" id="A_15"><img src="/assets/img/portfolio/craftsmen/thumb.png" id="IMG_16" alt='' /></a>
        <div id="DIV_17">
          <h3 id="H3_18">
            Craftsmen
          </h3>
          <p id="P_19">
            I was asked by French Digital Agency, Craftsmen to design th...
          </p>
        </div>
      </li>
      <li id="LI_20">
        <a href="/portfolio/mixd" id="A_21"><img src="/assets/img/portfolio/mixd/thumb.jpg" id="IMG_22" alt='' /></a>
        <div id="DIV_23">
          <h3 id="H3_24">
            MIXD
          </h3>
          <p id="P_25">
            I redesigned the identity and website for web agency, MIXD. ...
          </p>
        </div>
      </li>
      <li id="LI_26">
        <a href="/portfolio/future-insights" id="A_27"><img src="/assets/img/portfolio/future-insights/thumb.jpg" id="IMG_28" alt='' /></a>
        <div id="DIV_29">
          <h3 id="H3_30">
            Future Insights
          </h3>
          <p id="P_31">
            I redesigned the Future Insights website for 2013/14. Future...
          </p>
        </div>
      </li>
      <li id="LI_32">
        <a href="/portfolio/shopify" id="A_33"><img src="/assets/img/portfolio/shopify/thumb.jpg" id="IMG_34" alt='' /></a>
        <div id="DIV_35">
          <h3 id="H3_36">
            At the heart of what we do
          </h3>
          <p id="P_37">
            Shopify kindly ask me to design a shirt around the concept o...
          </p>
        </div>
      </li>
      <li id="LI_38">
        <a href="/portfolio/mixture" id="A_39"><img src="/assets/img/portfolio/mixture/thumb.png" id="IMG_40" alt='' /></a>
        <div id="DIV_41">
          <h3 id="H3_42">
            Mixture
          </h3>
          <p id="P_43">
            As part of the Mixture team I designed the first version of ...
          </p>
        </div>
      </li>
      <li id="LI_44">
        <a href="/portfolio/create-dm" id="A_45"><img src="/assets/img/portfolio/create-dm/thumb.png" id="IMG_46" alt='' /></a>
        <div id="DIV_47">
          <h3 id="H3_48">
            Create DM
          </h3>
          <p id="P_49">
            I designed the website for Tunbridge Wells based App develop...
          </p>
        </div>
      </li>
      <li id="LI_50">
        <a href="/portfolio/smashing" id="A_51"><img src="/assets/img/portfolio/smashing/thumb.jpg" id="IMG_52" alt='' /></a>
        <div id="DIV_53">
          <h3 id="H3_54">
            Smashing Mobile Book
          </h3>
          <p id="P_55">
            I was commissioned by Smashing Magazine to design the book c...
          </p>
        </div>
      </li>
      <li id="LI_56">
        <a href="/portfolio/berocca" id="A_57"><img src="/app/assets/images/portfolio/berocca/thumb.jpg" id="IMG_58" alt='' /></a>
        <div id="DIV_59">
          <h3 id="H3_60">
            Berocca Posters
          </h3>
          <p id="P_61">
            I was commissioned by The Campaign Palace &amp; Berocca to c...
          </p>
        </div>
      </li>
      <li id="LI_62">
        <a href="/portfolio/olympics" id="A_63"><img src="/assets/img/portfolio/olympics/thumb.jpg" id="IMG_64" alt='' /></a>
        <div id="DIV_65">
          <h3 id="H3_66">
            Olympics 2012
          </h3>
          <p id="P_67">
            With the Olympics in town in 2012, I was compelled to produc...
          </p>
        </div>
      </li>
      <li id="LI_68">
        <a href="/portfolio/giftrocket" id="A_69"><img src="/assets/img/portfolio/giftrocket/thumb.png" id="IMG_70" alt='' /></a>
        <div id="DIV_71">
          <h3 id="H3_72">
            GiftRocket
          </h3>
          <p id="P_73">
            I designed the identity, web app and marketing website for S...
          </p>
        </div>
      </li>
      <li id="LI_74">
        <a href="/portfolio/amazee" id="A_75"><img src="/assets/img/portfolio/amazee/thumb.jpg" id="IMG_76" alt='' /></a>
        <div id="DIV_77">
          <h3 id="H3_78">
            Amazee Labs
          </h3>
          <p id="P_79">
            I designed the identity and website for Swiss based agency A...
          </p>
        </div>
      </li>
      <li id="LI_80">
        <a href="/portfolio/chirp" id="A_81"><img src="/assets/img/portfolio/chirp/thumb.png" id="IMG_82" alt='' /></a>
        <div id="DIV_83">
          <h3 id="H3_84">
            Twitter Developer Conference
          </h3>
          <p id="P_85">
            I created the identity and designed the website for Twitter'...
          </p>
        </div>
      </li>
      <li id="LI_86">
        <a href="/portfolio/microsoft" id="A_87"><img src="/assets/img/portfolio/microsoft/thumb.jpg" id="IMG_88" alt='' /></a>
        <div id="DIV_89">
          <h3 id="H3_90">
            Microsoft Banners
          </h3>
          <p id="P_91">
            I designed and illustrated these display banners for Microso...
          </p>
        </div>
      </li>
      <li id="LI_92">
        <a href="/portfolio/twitter" id="A_93"><img src="/assets/img/portfolio/twitter/thumb.jpg" id="IMG_94" alt='' /></a>
        <div id="DIV_95">
          <h3 id="H3_96">
            Twitter Posters
          </h3>
          <p id="P_97">
            As part of the Twitter developer conference, I designed thes...
          </p>
        </div>
      </li>
      <li id="LI_98">
        <a href="/portfolio/graphic-design" id="A_99"><img src="/assets/img/portfolio/graphic-design/thumb.jpg" id="IMG_100" alt='' /></a>
        <div id="DIV_101">
          <h3 id="H3_102">
            Graphic Design
          </h3>
          <p id="P_103">
            As part of a conference talk I gave, entitled Graphic Design...
          </p>
        </div>
      </li>
      <li id="LI_104">
        <a href="/portfolio/carsonified" id="A_105"><img src="/assets/img/portfolio/carsonified/thumb.png" id="IMG_106" alt='' /></a>
        <div id="DIV_107">
          <h3 id="H3_108">
            Carsonified
          </h3>
          <p id="P_109">
            Whilst at Carsonified, I redesigned the company website. I h...
          </p>
        </div>
      </li>
      <li id="LI_110">
        <a href="/portfolio/in-everyone" id="A_111"><img src="/assets/img/portfolio/in-everyone/thumb.jpg" id="IMG_112" alt='' /></a>
        <div id="DIV_113">
          <h3 id="H3_114">
            In Everyone Album Art
          </h3>
          <p id="P_115">
            I designed and illustrated the album artwork for Oli Hite's ...
          </p>
        </div>
      </li>
    </ul>

  </body>
</html>

