<% cache("#{params[:artist_id]}-similar-artists") do %>
  <div class="similar-artists-image">
    <div class="layover">
      <div class="page-title">Here are some similar artists to &ldquo;<%= params[:artist_id] %>&rdquo;</div>

      <ul class='block-grid'>
        <% @similar_artists.each do |artist| %>
          <%= render partial: 'artists/artist_entry', locals: {artist: artist, found_through: params[:artist_id]} %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
