// Place all the styles related to the Genre controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-search {
  margin-bottom: 3%;
  margin-top: -2%;
}

.search-query {
  border-radius: 8px ;
  border-width: 5px 5px 5px 5px;
  color: black;
}

.all-artists {
  color: white;
}

.row {
  align-content: center;
}

#related_artists .img-circle {
//  border-radius: 20%;
//  width: 250px;
}

#related_artists li {
  margin-top: 5px;
  font-size: 26px;
}



