---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/search?api_key=BTF9TL31AHYRWPWPZ&name=Tom%20Petty
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 8d4ce:24791
      X-Ratelimit-Remaining:
      - '96'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"id": "ARBEBBY1187B9B43DB", "name": "Tom Petty"}, {"id": "ARF4L041187FB4D318",
        "name": "Tom Petty and The Heartbreakers"}, {"id": "ARLHURJ12454A52175", "name":
        "Tom Petty, Tom Petty And The Heartbreakers"}, {"id": "ARBAMVS12D5CD73BC1",
        "name": "Tom Petty Tribute Band"}, {"id": "ARZEIRJ14D10877EDA", "name": "Tom
        Petty&Jeff Lynne"}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:04 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/similar?api_key=BTF9TL31AHYRWPWPZ&name=Tom%20Petty&results=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 89a7b:24485
      X-Ratelimit-Remaining:
      - '95'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '25'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"id": "ARF4L041187FB4D318", "name": "Tom Petty and The Heartbreakers"},
        {"id": "ARKDEKZ119B34033AE", "name": "Mudcrutch"}, {"id": "AR91C8S1187B990901",
        "name": "Bruce Springsteen"}, {"id": "ARYVGP31187B9A531A", "name": "John Mellencamp"},
        {"id": "ARNSS0D1187FB52AAD", "name": "Traveling Wilburys"}, {"id": "ARDZQ5U1187B9ADEAE",
        "name": "John Fogerty"}, {"id": "ARJ45QE1187FB423B8", "name": "Bob Seger"},
        {"id": "AR5FP401187FB523C9", "name": "Bob Dylan"}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:04 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Tom%20Petty%20and%20The%20Heartbreakers&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 94800:25039
      X-Ratelimit-Remaining:
      - '94'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 73, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/d/d7/Tompetty_indy.jpg",
        "tags": [], "width": 1024, "height": 680, "aspect_ratio": 1.5058823529411764,
        "verified": false, "license": {"type": "cc-by", "attribution": "KEN", "url":
        "http://upload.wikimedia.org/wikipedia/commons/d/d7/Tompetty_indy.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:04 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Mudcrutch&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - f61bc:18066
      X-Ratelimit-Remaining:
      - '93'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 19, "images": [{"url": "http://upload.wikimedia.org/wikipedia/en/7/77/Campbell_autograph.jpg",
        "tags": [], "width": 1056, "height": 972, "aspect_ratio": 1.0864197530864197,
        "verified": false, "license": {"type": "cc-by", "attribution": "Mudcrutch
        (talk | contribs)", "url": "http://upload.wikimedia.org/wikipedia/en/7/77/Campbell_autograph.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:04 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Bruce%20Springsteen&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 203d7:8397
      X-Ratelimit-Remaining:
      - '92'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 149, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/7/73/Kennedy_Center_honorees_2009_WhiteHouse_Photo.jpg",
        "tags": [], "width": 560, "height": 373, "aspect_ratio": 1.5013404825737264,
        "verified": false, "license": {"type": "public-domain", "attribution": "Nesnad",
        "url": "http://upload.wikimedia.org/wikipedia/commons/7/73/Kennedy_Center_honorees_2009_WhiteHouse_Photo.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:04 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=John%20Mellencamp&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 1c88a:16212
      X-Ratelimit-Remaining:
      - '91'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 66, "images": [{"url": "http://userserve-ak.last.fm/serve/_/500205.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "last.fm", "url": "http://userserve-ak.last.fm/serve/_/500205.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:04 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Traveling%20Wilburys&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 203d7:20644
      X-Ratelimit-Remaining:
      - '90'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 32, "images": [{"url": "http://a41.ac-images.myspacecdn.com/images01/18/m_bb6aa14bc34088c3c0f5a80deaed64f8.jpg",
        "tags": [], "width": 90, "height": 90, "aspect_ratio": 1.0, "verified": false,
        "license": {"type": "unknown", "attribution": "myspace", "url": "http://a41.ac-images.myspacecdn.com/images01/18/m_bb6aa14bc34088c3c0f5a80deaed64f8.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:05 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=John%20Fogerty&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - a3028:11027
      X-Ratelimit-Remaining:
      - '89'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 48, "images": [{"url": "http://userserve-ak.last.fm/serve/_/2719668.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "n/a", "url": "http://userserve-ak.last.fm/serve/_/2719668.jpg#flat_doc"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:05 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Bob%20Seger&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 203d7:8397
      X-Ratelimit-Remaining:
      - '88'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 28, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Bob_Seger.jpg/800px-Bob_Seger.jpg",
        "tags": [], "width": 800, "height": 600, "aspect_ratio": 1.3333333333333333,
        "verified": false, "license": {"type": "cc-by", "attribution": "radioactv915",
        "url": "http://en.wikipedia.org/wiki/File%3ABob_Seger.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:05 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Bob%20Dylan&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 1ce08:1467
      X-Ratelimit-Remaining:
      - '87'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 126, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/e/e7/The_Big_Pink_%28crop%29.jpg",
        "tags": [], "width": 2592, "height": 1455, "aspect_ratio": 1.7814432989690723,
        "verified": false, "license": {"type": "cc-by", "attribution": "Viniciusmc",
        "url": "http://upload.wikimedia.org/wikipedia/commons/e/e7/The_Big_Pink_%28crop%29.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:05 GMT
recorded_with: VCR 2.9.3
