---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/search?api_key=BTF9TL31AHYRWPWPZ&name=Tom%20Petty
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 1ce08:2307
      X-Ratelimit-Remaining:
      - '86'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"id": "ARBEBBY1187B9B43DB", "name": "Tom Petty"}, {"id": "ARF4L041187FB4D318",
        "name": "Tom Petty and The Heartbreakers"}, {"id": "ARLHURJ12454A52175", "name":
        "Tom Petty, Tom Petty And The Heartbreakers"}, {"id": "ARBAMVS12D5CD73BC1",
        "name": "Tom Petty Tribute Band"}, {"id": "ARZEIRJ14D10877EDA", "name": "Tom
        Petty&Jeff Lynne"}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:05 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/similar?api_key=BTF9TL31AHYRWPWPZ&name=Tom%20Petty&results=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 1c88a:16550
      X-Ratelimit-Remaining:
      - '85'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artists": [{"id": "ARF4L041187FB4D318", "name": "Tom Petty and The Heartbreakers"},
        {"id": "ARKDEKZ119B34033AE", "name": "Mudcrutch"}, {"id": "AR91C8S1187B990901",
        "name": "Bruce Springsteen"}, {"id": "ARYVGP31187B9A531A", "name": "John Mellencamp"},
        {"id": "ARNSS0D1187FB52AAD", "name": "Traveling Wilburys"}, {"id": "ARDZQ5U1187B9ADEAE",
        "name": "John Fogerty"}, {"id": "ARJ45QE1187FB423B8", "name": "Bob Seger"},
        {"id": "AR5FP401187FB523C9", "name": "Bob Dylan"}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:06 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Tom%20Petty%20and%20The%20Heartbreakers&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 7545e:15642
      X-Ratelimit-Remaining:
      - '84'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 73, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/d/d7/Tompetty_indy.jpg",
        "tags": [], "width": 1024, "height": 680, "aspect_ratio": 1.5058823529411764,
        "verified": false, "license": {"type": "cc-by", "attribution": "KEN", "url":
        "http://upload.wikimedia.org/wikipedia/commons/d/d7/Tompetty_indy.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:06 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Mudcrutch&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 8a511:13554
      X-Ratelimit-Remaining:
      - '83'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '37'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 19, "images": [{"url": "http://upload.wikimedia.org/wikipedia/en/7/77/Campbell_autograph.jpg",
        "tags": [], "width": 1056, "height": 972, "aspect_ratio": 1.0864197530864197,
        "verified": false, "license": {"type": "cc-by", "attribution": "Mudcrutch
        (talk | contribs)", "url": "http://upload.wikimedia.org/wikipedia/en/7/77/Campbell_autograph.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:06 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Bruce%20Springsteen&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 94800:21999
      X-Ratelimit-Remaining:
      - '82'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 149, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/7/73/Kennedy_Center_honorees_2009_WhiteHouse_Photo.jpg",
        "tags": [], "width": 560, "height": 373, "aspect_ratio": 1.5013404825737264,
        "verified": false, "license": {"type": "public-domain", "attribution": "Nesnad",
        "url": "http://upload.wikimedia.org/wikipedia/commons/7/73/Kennedy_Center_honorees_2009_WhiteHouse_Photo.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:06 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=John%20Mellencamp&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 7545e:15642
      X-Ratelimit-Remaining:
      - '81'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 66, "images": [{"url": "http://userserve-ak.last.fm/serve/_/500205.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "last.fm", "url": "http://userserve-ak.last.fm/serve/_/500205.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:06 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Traveling%20Wilburys&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 8a511:13181
      X-Ratelimit-Remaining:
      - '80'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '40'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 32, "images": [{"url": "http://a41.ac-images.myspacecdn.com/images01/18/m_bb6aa14bc34088c3c0f5a80deaed64f8.jpg",
        "tags": [], "width": 90, "height": 90, "aspect_ratio": 1.0, "verified": false,
        "license": {"type": "unknown", "attribution": "myspace", "url": "http://a41.ac-images.myspacecdn.com/images01/18/m_bb6aa14bc34088c3c0f5a80deaed64f8.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:07 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=John%20Fogerty&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - f61bc:21230
      X-Ratelimit-Remaining:
      - '79'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 48, "images": [{"url": "http://userserve-ak.last.fm/serve/_/2719668.jpg",
        "tags": [], "verified": false, "license": {"type": "unknown", "attribution":
        "n/a", "url": "http://userserve-ak.last.fm/serve/_/2719668.jpg#flat_doc"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:07 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Bob%20Seger&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - c2e1a:24294
      X-Ratelimit-Remaining:
      - '78'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 28, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Bob_Seger.jpg/800px-Bob_Seger.jpg",
        "tags": [], "width": 800, "height": 600, "aspect_ratio": 1.3333333333333333,
        "verified": false, "license": {"type": "cc-by", "attribution": "radioactv915",
        "url": "http://en.wikipedia.org/wiki/File%3ABob_Seger.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:07 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Bob%20Dylan&results=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 77db3:5902
      X-Ratelimit-Remaining:
      - '77'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 126, "images": [{"url": "http://upload.wikimedia.org/wikipedia/commons/e/e7/The_Big_Pink_%28crop%29.jpg",
        "tags": [], "width": 2592, "height": 1455, "aspect_ratio": 1.7814432989690723,
        "verified": false, "license": {"type": "cc-by", "attribution": "Viniciusmc",
        "url": "http://upload.wikimedia.org/wikipedia/commons/e/e7/The_Big_Pink_%28crop%29.jpg"}}]}}'
  recorded_at: Thu, 13 Aug 2015 13:34:07 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/search?api_key=BTF9TL31AHYRWPWPZ&name=Bruce%20Springsteen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - f61bc:31687
      X-Ratelimit-Remaining:
      - '76'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
 [...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/images?api_key=BTF9TL31AHYRWPWPZ&name=Bruce%20Springsteen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 8a511:10875
      X-Ratelimit-Remaining:
      - '75'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
 [...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/video?api_key=BTF9TL31AHYRWPWPZ&name=Bruce%20Springsteen&results=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 472e0:43569
      X-Ratelimit-Remaining:
      - '74'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - BTF9TL31AHYRWPWPZ
      X-Ratelimit-Used:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "start": 0, "total": 2653, "video": [{"title": "Bruce Springsteen - Thunder
        Road", "url": "http://www.dailymotion.com/video/x314sws_bruce-springsteen-thunder-road_music",
        "site": "dailymotion.com", "date_found": "2015-08-13T00:00:00", "image_url":
        "http://s2.dmcdn.net/M5Sv6.jpg", "id": "1762c3475d8031e22bb4ed04c0d4712e"},
        {"title": "Bruce Springsteen - Because The Night 1978", "url": "http://www.dailymotion.com/video/x31eov7_bruce-springsteen-because-the-night-1978_music",
        "site": "dailymotion.com", "date_found": "2015-08-13T00:00:00", "image_url":
        "http://s2.dmcdn.net/NBQ5l.jpg", "id": "d46d06cb5de0fac704bc3dda3a007456"},
        {"title": "Bruce Springsteen - Brilliant Disguise (Lyrics)", "url": "http://[...]
