<nav>

  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <%= link_to 'Music Story', root_path, class: 'navbar-brand' %>

      <div class="navbar-collapse collapse navbar-responsive-collapse pull-right">
        <ul class="nav navbar-nav">
          <% if current_user %>
            <li><%= link_to 'Logout', logout_path %></li>
          <% else %>
            <li class='icon'>
              <span><%= "Login with Twitter" %></span>
              <a href="<%= login_path %>" id="A_10">Twitter</a>
            </li>
          <% end %>
          <!--<li class='icon'><a href="http://instagram.com/mikekus" id="A_11">Instagram</a></li>-->
          <%# <li class='icon'><a href="https://mikekus.exposure.so" id="A_12">Exposure</a></li> %>
        </ul>
      </div>
    </div>
  </div>

</nav>
