<div class="form-search">
  <%= form_tag(artists_path, :method => "get", class: "search-bar", role: "search") do %>
    <%= text_field_tag :search, params[:search], type: "search", placeholder: "Search for Artist" %>
    <button type="submit">
      Search
    </button>
  <% end %>
</div>
