<!DOCTYPE html>
<html>
<head>
  <title>Music Story</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <%= render partial: 'layouts/nav' %>
  <%= yield %>

</body>
</html>
